.cart-fix {
    margin-top: 50px;
    margin-left: 25px;
    box-shadow: 0px 12px 23px -8px #464244;
    border-radius: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.fix-img {
    height: 300px;
    width: 300px;
    margin-left: 60px;
}

.fix-text {
    text-align: center;
}

.fix-btn {
    margin-top: 10px;
    text-decoration: none;
    font-weight: 500;
    background-color: black;
    border-radius: 30px;
    box-shadow: 0px 12px 23px -8px #ff008f;
    padding: 10px;
}

@media only screen and (max-width: 576px) {
    .fix-img {
        width: 75%;

    }
}