.extra-img img {
    width: 350px;
    border-radius: 50px;
    margin-bottom: 70px;
}

.fixing-extra-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 576px) {
    .fixing-extra-part {
        display: grid;
        grid-template-columns: 1fr;
    }
}