.about-me {
    text-align: center;
    justify-content: center;
    padding: 50px;
    margin-bottom: 70px;
}

.fix-img {
    align-items: center;
    margin-left: 550px;
}

@media only screen and (max-width: 576px) {
    .fix-img {
        align-items: center;
        margin-left: 130px;
    }
}